PORT=4000
JWT_SECRET=replace_with_a_strong_random_secret

# Recommended for most uses (pooled)
DATABASE_URL=postgres://USER:PASSWORD@HOST_POOLER/DB_NAME?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@HOST_DIRECT/DB_NAME?sslmode=require

# Parameters for constructing your own connection string
PGHOST=HOST_POOLER
PGHOST_UNPOOLED=HOST_DIRECT
PGUSER=USER
PGDATABASE=DB_NAME
PGPASSWORD=PASSWORD

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://USER:PASSWORD@HOST_POOLER/DB_NAME?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://USER:PASSWORD@HOST_DIRECT/DB_NAME?sslmode=require
POSTGRES_USER=USER
POSTGRES_HOST=HOST_POOLER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DATABASE=DB_NAME
POSTGRES_URL_NO_SSL=postgres://USER:PASSWORD@HOST_POOLER/DB_NAME
POSTGRES_PRISMA_URL=postgres://USER:PASSWORD@HOST_POOLER/DB_NAME?pgbouncer=true&connect_timeout=15&sslmode=require